.footer {
	background-color: #191b1c;
}


.footer-adress {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.footer-adress h3 {
	font-size: 20px;
	color: #fff;
}

.footer-adress p {
	color: #fefefe;
	line-height: 30px;
}


footer .parag {
	padding: 20px;
	text-align: center;
	color: #ccc;
}
