.quemSomos {
	padding: 20px;
	display: flex;
	background-color: #348065;
}
.img-sobre {
	width: 800px;
	height: 280px;
}

.img-sobre img {
	width: 100%;
}

.quemSomos_info {
	margin-left: 30px;
}

.quemSomos_info p {
	color: #fefefe;
}

.titulo {
	padding-bottom: 20px;
	color: #fefefe;
}

.btn {
	margin-top: 60px;
	margin-left: 200px;
	background-color: #5c0635;
	padding: 15px 50px 15px 50px;
	border-radius: 20px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

.btn:hover {
	background-color: #446977FF;
	transition: 2s;
}
