.cards {
	margin-top: 30px;
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul li {
	width: 22%;
	list-style: none;
	margin-left: 46px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.card-img {
	width: 260px;
	height: 100px;
}


.card-img img {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}


.card-content {
	margin-top: 80px;
}


.card-content h2 {
	color: #ad7e17;
	padding: 10px 0 20px 0;
}

.card-content p {
	padding: 15px;
	font-size: 18px;
}


.card {
	margin: 0;
}

.card-last {
	margin-right: 0;
}
