* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mingzat', sans-serif;
}

.container {
	width:75%;
	margin: 0 auto;
}


h2 {
	color: #ad7e17;
	font-size: 16;
}


/* header */

header {
	padding: 10px;
	background-color: #446977FF;
}

.logo {
	width: 80px;
	height: 80px;
	margin-top: 15px;
	margin-left: 15px;
}

.logo img {
	width: 100%;
	border-radius: 100%;
}

/* nav */

.navebar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav {
	padding: 10px;
}

nav a {
	text-decoration: none;
	font-size: 18px;
	margin: 0 20px 0 0;
	color: #FFFFFF;
}


nav a:hover {
	/*color: #4a4846;*/
	color: #e46634;
}

/* banner */

.banner {
	height: 100vh;
	line-height: 40px;
}

.baner-content {
	width: 1200px;
	display: flex;
	align-items: center;
}


.img-baner:hover {
	width: 500px;
	height: 200px;
	cursor: pointer;
}


.slongan {
	position: relative;
	top: 200px;
	left: 100px;
	padding-left: 100px;
	width: 1200px;
}


.slongan h1 {
	color: #ad7e17;
	font-size: 46px;
	margin-bottom: 10px;
}


.slongan p {
	font-size: 24px;
}


p span {
	color: #e46634;
}


.button {
	margin-top: 20px;
	background-color: #5c0635;
	padding: 15px 50px 15px 50px;
	border-radius: 20px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}


.button:hover {
	background-color: #446977FF;
}

/* Quem somos */
.quemSomos {
	padding: 20px;
	display: flex;
	background-color: #348065;
}
.img-sobre {
	width: 800px;
	height: 280px;
}

.img-sobre img {
	width: 100%;
}

.quemSomos_info {
	margin-left: 30px;
}

.quemSomos_info p {
	color: #fefefe;
}

.titulo {
	padding-bottom: 20px;
	color: #fefefe;
}

.btn {
	margin-top: 60px;
	margin-left: 200px;
	background-color: #5c0635;
	padding: 15px 50px 15px 50px;
	border-radius: 20px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

.btn:hover {
	background-color: #446977FF;
	transition: 2s;
}

/* Serviços */

.cards {
	margin-top: 30px;
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul li {
	width: 22%;
	list-style: none;
	margin-left: 46px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.card-img {
	width: 260px;
	height: 100px;
}


.card-img img {
	width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}


.card-content {
	margin-top: 80px;
}


.card-content h2 {
	color: #ad7e17;
	padding: 10px 0 20px 0;
}

.card-content p {
	padding: 15px;
	font-size: 18px;
}


.card {
	margin: 0;
}

.card-last {
	margin-right: 0;
}

/* Table */
table {
	border: 1px solid #ccc;
}
#table {
	margin-top: 250px;

}

#table h2 {
	margin-bottom: 20px;
}

table thead {
	background-color: #446977FF;
	color: #fff;
}

thead th, tr, td {
	padding: 10px 30px 10px 30px;
	text-align: center;
}


caption {
	background-color: #446977FF;
	color: #fff;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.td-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.td-footer p {
	padding: 10px;
}

tfoot  {
	background-color: #446977FF;
}

/* footer */
.footer {
	background-color: #191b1c;
}


.footer-adress {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

.footer-adress h3 {
	font-size: 20px;
	color: #fff;
}

.footer-adress p {
	color: #fefefe;
	line-height: 30px;
}


footer .parag {
	padding: 20px;
	text-align: center;
	color: #ccc;
}


